{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body{
            background-color: #1C2127;
            color: #fff;
        }
        .neon{
            color: #5BE0B3;
            letter-spacing: 3px;
            text-shadow: 0 0 5px #6EECC1;
            animation: flux 2s linear infinite;
        }

        @keyframes flux {
            0%,
            100% {
                text-shadow: 0 0 5px #00FFC6, 0 0 15px #00FFC6, 0 0 50px #00FFC6, 0 0 50px #00FFC6, 0 0 2px #B9FFE8, 2px 2px 3px #12E29C;
                color: #4BFFEF;
            }
            50% {
                text-shadow: 0 0 3px #00B58D, 0 0 7px #00B58D, 0 0 25px #00B58D, 0 0 25px #00B58D, 0 0 2px #00B58D, 2px 2px 3px #006A60;
                color: #63D3AE;
            }
        }

    </style>

    <div class="h-100 d-flex align-items-center justify-content-center flex-column">
        <div class="neon display-1 text-uppercase">Erreur {{ exception.statusCode }}</div>
        <div class="text-center">
            <div class="my-3 h1 text-danger">
                {% block message %}{% endblock %}
            </div>
            <div class="my-3">
                {% block description %}{% endblock %}
            </div>
            <div class="mt-3">
                <a href="/" class="btn btn-primary">Retour vers le site</a>
            </div>
        </div>
    </div>

{% endblock %}
