<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Expiration de votre demande de réinitialisation de mot de passe</title>
</head>

<body>
    {% set link = url('security_reset_password') %}
    <h3>Votre demande de réinitialisation de mot de passe a expiré</h3>
    <p>Bonjour {{ user.fullname }},</p>
    <p>
        Vous avez demandé la réinitialisation de votre mot de passe le
        {{ user.resetTokenRequestedAt|format_datetime('full', 'short', locale='fr') }}.
    </p>
    <p>
        Malheureusement, votre demande a expiré. Vous pouvez faire une nouvelle demande de réinitialisation de mot de
        passe en cliquant sur le lien ci-dessous :
    </p>
    <p>
        <a href="{{ link }}">
            Faire une nouvelle demande de réinitialisation de mot de passe
        </a>
    </p>
    <p>Cordialement,</p>
    <p>L'équipe du club de plongée Maubeugeois</p>
</body>

</html>
