<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Demande de Contact</title>
</head>

<body>
    <h3>Demande de réinitialisation de mot de passe</h3>
    <p>Bonjour {{ user.fullname }},</p>
    <p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
    <p>Pour cela, veuillez cliquer sur le lien suivant :
        <a href="{{ url|raw }}">Réinitialiser mon mot de passe</a>
    </p>
    <p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer ce message.</p>
    <p>Cordialement,</p>
    <p>L'équipe du club de plongée Maubeugeois</p>
</body>

</html>
